body {
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Raleway', sans-serif;
}

header {
	background: #BBBBBB;
	padding: 10px 0;
}

/*-------------------------------------------header*/

main {
	background: linear-gradient(#FFFFFF, #888888);
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.logo {
	width: 10%;
}

nav {
	position: absolute;
	top: 60px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bolder;
	font-size: 18px;
	text-decoration: none;
	text-shadow: 1px 1px #696969;
}

nav a:hover {
	color: #c78c19;
	text-decoration: underline;
}

/*-------------------------------------------main*/

.banner {
	width: 100%;
	opacity: 0.2;
}

.banner:hover {
	opacity: 1;
	transition: 400ms;
}

.principal{
	padding: 10px;
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.titulo-principal {
	text-align: center;
	font-weight: bolder;
	font-size: 2em;
	padding: 10px;
	clear: left;	
	color: rgba(0, 0, 0,0.8);
	text-shadow: 1px 1px #696969;
}

.utensilios {
	width: 130px;
	float: left;
	border-radius: 5px;
	margin: 0 20px 0 20px;
	box-shadow: 0px 0px 20px 5px #696969;
}

.principal p {
	margin: 0 0 0.5em;
}

p {
	padding: 5px 10px;
}

.missao {
	font-size: 20px
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

main em strong {
	color: #FF0000;
}

.mapa {
	padding: 10px 0;
	text-align: center;
}

.quadrado-mapa {
	box-shadow: 0px 0px 20px 5px #696969;
}

.mapa p {
	margin: 0 0 20px;
	text-align: center;
}

.beneficios {
	padding: 20px;
	width: 940px;
	margin: 0 auto;
}

.video {
	float: right;
	margin: 20px;
	box-shadow: 0px 0px 20px 5px #696969;
}

.itens {
	font-style: italic;
	font-size: 20px;
	padding: 10px;
	padding-left: 30px;
}

.itens:hover {
	font-weight: bold;
	font-size: 22px;
}


main ul {
	vertical-align: top;
	width: 40%;
	margin-right: 15%;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

table {
	margin: 20px 0 40px;
	margin-left: 30px;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px ;
}

/*-------------------------------------------footer*/

footer {
	text-align: center;
	background: #1C1C1C;
	padding: 5px 0;
}

footer img {
	width: 8%;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 5px 0 0 0;
}


/*-------------------------------------------mobile*/


@media only screen and (max-width: 480px) {
	.caixa, .principal, .mapa, footer, .quadrado-mapa, .video {
		width: auto;
	}

	nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bolder;
	font-size: 15px;
	text-decoration: none;
	text-shadow: 1px 1px #696969;
	}

	.caixa {
	padding: 10px;
	}

	nav {
	top: 30px;
	padding-right: 15px;
	}

	.titulo-principal {
	font-size: 1.5em;
	}

	.principal p {
	font-size: 1em;
	text-align: justify;
	}

	.beneficios {
	width: auto;
	display: flex;
	flex-direction: column;
	}

	.itens {
	width: 300px;
	text-align: center;
	order: 1;
	}

	.video {
	order: 2;
	width: auto;
	text-align: center;
	}

	.tabela {
	text-align: center;
	width: 250px;
	order: 3;
	margin-left: auto;
    margin-right: auto; 
	}


}